<%- include('include/_header') %>
<link rel="stylesheet" href="style.css">
</head>
<%- include('include/_navbar') %>
<div class="flex justify-center bg-black p-8 ">
    <div class="flex flex-col justify-center">
        <div class="flex flex-col lg:flex-row max-w-7xl justify-center items-center p-2 space-y-3 w-full">
            <div class="flex flex-col text-white md:items-start items-center justify-between space-y-3 px-8">
                <div class="text-5xl md:text-7xl font-bold "> Puru Fitness </div>
                <div class="text-lg uppercase md:text-3xl "> The solution to all yout fitness needs</div>
                <div class="text-xl md:text-3xl "> @PuruFitness</div>
            </div>
            <div class="flex space-x-2 md:space-x-6 md:m-4">
                <div class="md:w-20 w-10 h-60 md:h-96 overflow-hidden rounded-xl"> <img
                        src="https://images.unsplash.com/photo-1550345332-09e3ac987658?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                        class="h-full w-full" alt=""> </div>
                <div class="md:w-60 w-28 h-60 md:h-96 overflow-hidden rounded-xl"> <img
                        src="https://images.unsplash.com/photo-1577221084712-45b0445d2b00?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=398&q=80" class="h-full w-full" alt=""> </div>
                <div class="md:w-28 w-16 h-60 md:h-96 overflow-hidden rounded-xl"> <img
                        src="https://images.unsplash.com/photo-1605296867304-46d5465a13f1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="h-full w-full" alt=""> </div>
                <div class="md:w-20 w-10 h-60 md:h-96 overflow-hidden rounded-xl"> <img
                        src="https://images.unsplash.com/photo-1534258936925-c58bed479fcb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1331&q=80" class="h-full w-full" alt=""> </div>
            </div>
        </div>
    </div>
</div>
<main class="gallery">
<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <div class="flex w-full mb-20 flex-wrap">
        <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900 lg:w-1/3 lg:mb-0 mb-4">Unbeatable Gym Facilities</h1>
        <p class="lg:pl-6 lg:w-2/3 mx-auto leading-relaxed text-base">At Puru Fitness, members can enjoy a top-tier fitness experience with access to a wide range of state-of-the-art facilities and equipment. The gym's weightlifting area is spacious and fully equipped with the latest weight training machines, while the expansive cardio area features high-tech machines with interactive displays to customize workouts. The functional fitness area is stocked with a variety of equipment to build strength, endurance, and agility. Whether you're a beginner or an experienced athlete,Puru Fitness caters to all fitness levels with a range of machines designed to target specific muscle groups. At Puru Fitness, achieve your fitness goals with unbeatable facilities and equipment.</p>
      </div>
      <section class="gallery">
      <div class="flex flex-wrap md:-m-2 -m-1">
        <div class="flex flex-wrap w-1/2">
          <div class="md:p-2 p-1 w-1/2">
            <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://housing.com/news/wp-content/uploads/2022/11/GYM-INTERIORS-FEATURE-compressed.jpg">
          </div>
          <div class="md:p-2 p-1 w-1/2">
            <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://i.pinimg.com/736x/b8/1a/ea/b81aea06a165624fa9388c5cef4379e9.jpg">
          </div>
          <div class="md:p-2 p-1 w-full">
            <img alt="gallery" class="w-full h-full object-cover object-center block" src="https://i.pinimg.com/originals/7c/c1/e3/7cc1e3d2c4d85454b3bb419f89dee043.jpg">
          </div>
        </div>
        <div class="flex flex-wrap w-1/2">
          <div class="md:p-2 p-1 w-full">
            <img alt="gallery" class="w-full h-full object-cover object-center block" src="https://5.imimg.com/data5/SELLER/Default/2023/3/296314888/XU/RS/OO/59995718/gym-interior-designing-service-1000x1000.jpg">
          </div>
          <div class="md:p-2 p-1 w-1/2">
            <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://www.ahotellife.com/wp-content/uploads/2022/03/Tansy-Kaschak-White-City-House-IMG_4041-A-Hotel-Life-1500x1112.jpg">
          </div>
          <div class="md:p-2 p-1 w-1/2">
            <img alt="gallery" class="w-full object-cover h-full object-center block" src="https://5.imimg.com/data5/SELLER/Default/2023/1/CD/RS/NI/3243087/gym-1000x1000.jpg">
          </div>
        </div>
      </div>
    </section>
    </div>
  </section>
</main>
<section class="text-gray-600 body-font">
    <div class="container px-5 py-23 mx-auto">
      <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="inline-block w-8 h-8 text-gray-400 mb-8" viewBox="0 0 975.036 975.036">
          <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
        </svg>
        <p class="leading-relaxed text-lg">If you're looking for a gym that will help you achieve your fitness goals, look no further than this gym. I've been a member for over a year now, and I can confidently say that this gym has exceeded my expectations in every way.</p>
        <span class="inline-block h-1 w-10 rounded bg-red-500 mt-8 mb-6"></span>
        <h2 class="text-white-900 font-medium title-font tracking-wider text-sm">Rajiv Trivedi</h2>
        <p class="text-gray-500">Filmmaker / Influencer</p>
      </div>
    </div>
  </section>
<section class="text-gray-600 body-font">
<div class="container px-5 py-24 mx-auto">
<h1 class="text-3xl font-medium title-font text-gray-900 mb-12 text-center">Testimonials</h1>
<div class="flex flex-wrap -m-4">
  <div class="p-4 md:w-1/2 w-full">
    <div class="h-full bg-gray-100 p-8 rounded">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4" viewBox="0 0 975.036 975.036">
        <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
      </svg>
      <p class="leading-relaxed mb-6">I've never enjoyed going to the gym until I joined this one. The staff are so friendly and helpful, and the facilities are top-notch.This gym has transformed my life. The trainers are incredible, the facilities are top-notch, and the community is so supportive. I've never felt better, physically or mentally.</p>
      <a class="inline-flex items-center">
        <img alt="testimonial" src="/img/guy2.avif" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
        <span class="flex-grow flex flex-col pl-4">
          <span class="title-font font-medium text-gray-900">Harpreet Singh</span>
          <span class="text-gray-500 text-sm">Been with us for 2+ years</span>
        </span>
      </a>
    </div>
  </div>
  <div class="p-4 md:w-1/2 w-full">
    <div class="h-full bg-gray-100 p-8 rounded">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="block w-5 h-5 text-gray-400 mb-4" viewBox="0 0 975.036 975.036">
        <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
      </svg>
      <p class="leading-relaxed mb-6">If you're looking for a gym that will challenge you, motivate you, and support you every step of the way, this is it. I've never felt stronger or more confident.I've been a member of many gyms over the years, but none have come close to the level of care and attention that this gym provides. I feel like I'm part of a family here.</p>
      <a class="inline-flex items-center">
        <img alt="testimonial" src="/img/guy1.jpeg" class="w-12 h-12 rounded-full flex-shrink-0 object-cover object-center">
        <span class="flex-grow flex flex-col pl-4">
          <span class="title-font font-medium text-gray-900">Akash Sen</span>
          <span class="text-gray-500 text-sm">Been with us for 4+ years</span>
        </span>
      </a>
    </div>
  </div>
</div>
</div>
</section>

<%- include('include/_footer') %>